doctype html
html
  head
    title="Lisk Commodore 64"

    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/terminal.js')
    script(src='/javascripts/c64app.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/lisklogo.png')
  body
    block content
